* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      45deg,
      rgba(254, 246, 210, 0.53) 0%,
      rgba(254, 246, 210, 0.53) 14.286%,
      rgba(221, 240, 216, 0.53) 14.286%,
      rgba(221, 240, 216, 0.53) 28.572%,
      rgba(188, 233, 223, 0.53) 28.572%,
      rgba(188, 233, 223, 0.53) 42.858%,
      rgba(156, 227, 229, 0.53) 42.858%,
      rgba(156, 227, 229, 0.53) 57.144%,
      rgba(123, 220, 235, 0.53) 57.144%,
      rgba(123, 220, 235, 0.53) 71.42999999999999%,
      rgba(90, 214, 242, 0.53) 71.43%,
      rgba(90, 214, 242, 0.53) 85.71600000000001%,
      rgba(57, 207, 248, 0.53) 85.716%,
      rgba(57, 207, 248, 0.53) 100.002%
    ),
    linear-gradient(
      135deg,
      rgb(246, 99, 200) 0%,
      rgb(246, 99, 200) 12.5%,
      rgb(223, 98, 196) 12.5%,
      rgb(223, 98, 196) 25%,
      rgb(199, 97, 192) 25%,
      rgb(199, 97, 192) 37.5%,
      rgb(176, 96, 188) 37.5%,
      rgb(176, 96, 188) 50%,
      rgb(152, 95, 184) 50%,
      rgb(152, 95, 184) 62.5%,
      rgb(129, 94, 180) 62.5%,
      rgb(129, 94, 180) 75%,
      rgb(105, 93, 176) 75%,
      rgb(105, 93, 176) 87.5%,
      rgb(82, 92, 172) 87.5%,
      rgb(82, 92, 172) 100%
    );
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: auto 0;
}

.frame {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.cards {
  position: absolute;
  display: flex;
  /* transition: left 0.5s; */
  left: 0;
}

.card {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
}

.trigger {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.trigger button {
  cursor: pointer;
  width: 70px;
  font-size: 40px;
  background-color: rgba(128, 128, 128, 0.447);
  color: white;
  font-weight: bold;
  border: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.trigger button:hover {
  opacity: 1;
}

.rounds {
  position: absolute;
  display: flex;
  bottom: 20px;
  transform: translateX(-50%);
  left: 50%;
  gap: 15px;
}

.rounds button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: bisque;
  border: 2px solid black;
  cursor: pointer;
}

.rounds .active {
  background-color: orange;
}
